<% title "Edit Tewa Weapon Bidding Factor" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @tewa_weapon_bidding_factor %> |
  <%= link_to "View All", tewa_weapon_bidding_factors_path %>
</p>
