<p style="line-height: 115%;">
    <font color="#4f81bd">
        <font face="Cambria, serif">
            <i>Batteries<a name= "Batteries"></a></i>
        </font>
    </font>
</p>
<p style="text-indent: 0.5in;">
    So after the launcher has
    been saved the batteries must be created and/ or edited.
    The default batteries are the Patriot battery and the THAAD
    battery. Only real option here is for the user to determine
    which launchers are in the particular battery that they
    desire, this is done by clicking View Launchers on the page
    and selecting which launchers will be in the battery and
    the number of launchers to be inside the launcher. After
    the behind the scenes information is set, the next step is
    the scenario.
</p>
