<p>
    <font color="#4f81bd">
        <font face="Cambria, serif">
            <i>Threat Types<a name= "Threat Types"></a></i>
        </font>
    </font>
</p>
<p style="text-indent: 0.5in;">
    The Threat Types tab allows the user to define the different 
    threats in the scenario. 
    Click on the tab to see a summary a list of threats that have 
    already been defined.  If new or additional threats are to be
    added, click on the New Threats link.  This opens up the threat 
    definition page.  Enter the Name of the threat, a required 
    field and an optional description.  Next, select the Track type 
    (Air for aircraft, cruise missiles, unmanned aerial vehicles, 
    rotary wing aircraft, etc.  Space indicates Theater Ballistic 
    Missile tracks).  Beneath Track Category, enter an effects 
    radius in the Effects Radius field.  Units are kilometers.  The 
    simulation uses the Effects Radius to determine whether a 
    threat will cause harm/damage to a defended area, even if its 
    impact point is outside the boundary of the defended area.  
    Finally, click Update Threat to save it in the mission plan.  
    
</p>
