

<p>
    <font color="#4f81bd">
        <font face="Cambria, serif">
            <i>Interceptors<a name="Interceptors"></a></i>
        </font>
    </font>
</p>
<p style="text-indent: 0.5in;">
    Set up the behind the scenes information with the configure menu, 
    setting up the interceptors, launchers, and finally batteries. After determining the name of the  
    interceptor and its description (if the user so chooses), the next step is to establish the probability 
    of kill (PK) against Air Breathing Threats (ABT), PK against Tactical Ballistic Missiles (TBM), velocity,  
    financial cost, engagement zone scale for ABTs and the engagement zone scale for TBMs. There are default 
    values for a PAC-3 interceptor, a GEM-T interceptor, and a THAAD interceptor. 
</p>