<h2 class="western">Launch<a name="Launch"></a></h2>
<p style="text-indent: 0.5in;">
    Select a pre-define scenario
    and hit go. This is where the action begins. So Step 1
    indicates that the Scenario is ready to be validated and
    checked. (The scenario can also be changed at this moment
    by the drop down box.) So after checking the scenario with
    the Check Scenario button and it showing a status of pass,
    then Step 2 is to prepare the simulation to be ran in the
    Engagement Manager. Proceed to step 3 in order to launch
    the Engagement Manager in the Advanced Air Defense
    Synthetic Environment (AADSE). The Launch Eng Manager link
    opens up the AADSE Dashboard Engagement Manager. To
    understand the AADSE, refer to the Synthetic Environment
    Users Guide.
</p>
