<p>
    <font color="#4f81bd">
        <font face= "Cambria, serif">
            <i>Launchers<a name= "Launchers"></a></i>
        </font>
    </font>
</p>
<p style="text-indent: 0.5in;">
    Now that the interceptor(s)
    are created the launchers are next. Like the interceptors,
    there are default values for the PAC-3, GEM-T, and THAAD
    launchers. In this section there has to be a type of
    interceptor selected for the specific launcher desired and
    that is accomplished from the Interceptor drop down box. In
    addition to the type of interceptor the number of
    interceptors is determined through the Interceptor qty
    (quantity) field. Then the doctrine is also to be
    determined by the user.
</p>
