<h2 class="western">Review<a name="Review"></a></h2>
<p style="text-indent: 0.5in;">
    Analyze the effectiveness of
    the selected operator, weapon systems, and TEWA algorithm
    from the specified scenario run. The main focus is the
    Force Effectiveness rating. The high the rating the better
    the system.
</p>
