<p>
    <font color="#4f81bd">
        <font face= "Cambria, serif">
            <i>TEWA Configuration<a name= "TEWA Configuration"></a></i>
        </font>
    </font>
</p>
<p style="text-indent: 0.5in;">
    The TEWA tab shows a list of existing TEWA configurations.  
    These may be viewed, modified or deleted by clicking on Show, 
    Edit, or Destroy links next to the configuration name.  To add 
    a new configuration, click on the New TEWA configuration link, 
    which opens the TEWA definition page.  This page allows the 
    user to enter Threat Type Weights, Threat Priority
    Factor Weights and Weapon Bidding Factor Weights. The doctrine 
    selection is 
    unused at this time.  Edit the 
    Threat Type Weights section to set the relative importance
    for each type of threat, ranking the importance from 0-100 in 
    whole numbers.  The total of the weights should sum to 100.  
    Similarly, set the relative importance of the Threat Factors.  
    This determines which aspect of the threat is most
    important relative to each other on the 0-100 ranking.
    Finally, after creating those weights edit the
    Weapon Bidding Factor Weights to set the relative importance of 
    the weapon system factors (cost, inventory, probability of 
    kill, and earliest opportunity to launch).  These are also 
    defined on a scale of 0 to 100 and must total to 100. Finally, 
    click Update to save the TEWA Configuration.
</p>
