<div class="form_fields">

	<div style='font-size:x-large;'> New <%= category_name.to_s.pluralize.titleize %> <hr/><br/></div>
	
	<% factors.each_pair do |factor_label, value| %>
		<% f.fields_for(:mp_tewa_values, MpTewaValue.new) do |builder| %>
			<% builder.object = value %>
			<% builder.inputs do %>
				<%= builder.input :mp_tewa_factor_id, :as => :hidden %>
				<%= builder.input :value, :label => factor_label.to_s.titleize, :hint => "(Range: 0-100) Non-numeric or values outside the valid range will be rejected without warning."  %>
			<% end %>
		<% end %>
	<% end %>
</div>
