<% title "New Tewa Configuration Weapon Factor Weight" %>

	<p>from mp_tewa_values/new.html.erb</p>

<%= render :partial => 'form' %>

<p><%= link_to "Back to List", tewa_configuration_weapon_factor_weights_path %></p>
