<!-- TODO: Remove when stable -->

<div id='all_messages'>
	
<h1>Messages</h1>

<table>
  <thead>
    <td>Name</td>
    <td>Params</td>
  </thead>

  <% $fe_messages.each do |message| %>
    <tr class="<%= cycle('odd-line', 'even-line') %>">
      <td><%= message.label %></td>
      <td>
        <% message.params.each_pair do |param, value| %>
          <%= "#{param}: #{value}" %><br />
        <% end %>
      </td>
    </tr>
  <% end %>
  
</table>

</div>