<%=
		periodically_call_remote(
			:url => 'em_queues/index', 
			:frequency => '2.0', 
			:update => 'main_queues'
		)
	
%>
<%=
		periodically_call_remote(
			:url => 'em_threats/show', 
			:frequency => '2.0', 
			:update => 'main_threat'
		)
	
%>


<table class='main_content'>
	<tr>
		<th class='main_title' colspan=2>
			Engagement Manager (prototype)
		</th>
	</tr>
	<tr>
		<td class='main_queues' id='main_queues'></td>
		<td class='main_threat' id='main_threat'></td>
	</tr>
</table>
