%p
  This is a stand-in for the notional Engagement Manager, a place-holder, a stake in the ground.
%p
  The look and feel of these web pages represent an initial preliminary way-way alpha quality draft
  whose sole purpose
  is to exercise the underlying simulation framework.  These web pages do not necessary represent
  a final form for any potential company product.  They are artifacts of internal test
  and development.
%p
  <em>Don't Panic!</em>
%p
  Web-page auto-refresh is supported.  Click on the 'Sim. Time:' link above to start/stop auto-refresh.  The
  default refresh interval is 5 seconds.  Once you click the link, you must <em>manually refresh</em> this page
  in order for the new setting to take effect.
%p
%h4 ISE Run Summary
%pre
  = h(@ise_run_summary.pretty_inspect)

