%p
  The links on the right provide control over the 
  %a{ :href => "http://138.209.52.146", :title => "Integrated Simulation Environment"} ISE
  simulation.  Click on the link to
  accomplish the indicated action.
%p
  Simulation Period
%table
  %tr
    %td Start Date/Time
    %td #{@start_time}
  %tr
    %td End Date/Time
    %td #{@end_time}
%p
  #{$flash}
- flash ""

