%p
  The table below contains the counts that have been collected during the simulation up to
  this point in time.  Instructor movement of the simulation time either forward or
  backward may invalidate these counts.  To syncronize the counts to the simulation time
  use the <em>Reset</em> command under <em>Sim. Control</em>.
%table
  %tr
    %td Item Name
    %td Value
    %td Description
  = render_stats_table
