%p
%img{:src => "/uconstr.gif"}
%p
  Checkback later to see if there has been any progress in fleshing out this page.
%p.nextbutton
  %a{ :href => "/" }
    Return to Dashboard
%p
%p
%table
  %tr
    %td
      %img{:src => "/Sign-RealityCheck.jpg"}
    %td
      The subject matter experts in the VRSIL have been around the block
      a few times.  What we do may look easy.  It is not.  In the very short
      time frames we are usually given for development of prototypes, we have
      very few minutes to spare.  If sometimes we seem distracted, or not
      willing to chit-chat, it is because we are deep in development on
      a very short schedule.  We like you.  We would like for you to get up to speed
      on our technologies as fast as possible; however, sometimes, we can not
      be there to help you out.  For this and our many other failures, please forgive
      us.
      
