%p
%p Data from the threat object:
%p
  %pre
    = h(@threat_object.pretty_inspect)
%p
%p Last Engagement Zone Analysis:
%p
%p.center
  %img{:src => "/#{@which_threat}_ez.png", :alt => "Image is not available", :height => "80%", :width => "100%", :title => "Mouse-over text goes here"}
%p
%p Data from the TOC object:
%p
  %pre
    = h(@toc_object.pretty_inspect)
%p
  
