<div id='query'>
	<% use_multiple   = true %>
	<% num_lines      = 5 %>
	
	
	<% form_remote_tag :html => {:id => 'query_form'} do %>	
		<table class='standard query'>
			<tr>
				<% @queries.each do |a_query| %>
					<th><%= a_query.first.titleize %></th>
				<% end %>
			</tr>
			
			<tr>
				<% @queries.each do |a_query| %>
					<td>
						<!-- Not selecting default like it's supposed to. -->
						<%= select_tag(a_query.first,
									   options_for_select(a_query.last, get_default_selected_label(a_query)),
									   :multiple => use_multiple,
									   :size => num_lines,
									   :style => 'width: 100%') %>
					</td>
				<% end %>
			</tr>
		</table>
	<% end %>
	
	<%= observe_form 'query_form', :url => '/fe_runs/_query_stats', :update => 'query_stats' %>
</div>