<p>
	<h2>SATRN is...</h2>
	an <em>operator-in-the-loop training environment</em>
	which enables both our DoD stakeholders and industry to measure and adjust TTPs to ensure the warfighter 
	gets the most effective and reliable tools in the field.
</p>
<br />
<br />
<p>
	<h2>SATRN allows...</h2>
	<em>force-effectiveness analysis</em>
	for differing weapons systems as well as the Threat Evaluation and Weapon Assignment (TEWA) algorithms 
	that are employed to managed the battlespace.
</p>
<br />
<br />
<p>
	<h2>SATRN provides...</h2>
	an end-to-end enviroment for <em>best-of-breed product testing</em>. 
	This allows MFC to set up conditions as they would appear in the field and introduce small, incremental changes 
	to show rapid deployment solutions to today's issues.
</p>
		
<% content_for :page_description do %>

<table>
<tr>
<td>HOME</td>
<td>Displays this page.</td>
</tr>
<tr>
<td>WEAPONS</td>
<td>Defines weapon characteristics for interceptors, launchers and batteries.</td>
</tr>
<tr>
<td>THREAT&nbsp;TYPES&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>Defines threat categories, descriptions and effects radius.</td>
</tr>
<tr>
<td>TEWA</td>
<td>Threat Evaluation Weapon Assignment defines commander's guidance on automatic weapon assignments to threats.</td>
</tr>
<tr>
<td>SCENARIOS</td>
<td>Associates Blue Force laydown scenarios with OPFOR attack scenarios.</td>
</tr>
<tr>
<td>USER&nbsp;GUIDE</td>
<td>Provides high-level workflow description and acronym list.</td>
</tr>
</table>

<% end %>
