<!--
  Inputs:
	@em_threat	- Threat object
-->
<% interceptors = get_interceptors %>

<% unless interceptors.empty? %>
	<div id='interceptor_title'>INTERCEPTORS:</div>
	<div id='interceptors'>
	<% interceptors.each do |interceptor| %>
		<font class="interceptor_<%= interceptor.status %>">
			<%= interceptor.to_s %>
			<br />
		</font>
	<% end %>
	</div>
<% end %>