<% ## incoming parameters
%>
<% # model_class, model_entry, columns
%>

<% simple_name = simple_name(model_class) %>
<% columns = get_table_columns(model_class) if columns.nil? %>

<% columns.each do |column| %>
  <p>
    <strong style='font-size:x-large;'><%= "#{column.titleize}:" %></strong>
    <%= get_table_cell_contents(model_entry, column) %>
  </p>
<% end %>

