/******************************************************************************/
/*                               Main Styles                                  */
/******************************************************************************/

table.main_content {
	width: 100%;
	outline: solid 1px black;
	background-color: #6699CC;
}

table.main_content td.main_queues, td.main_threat {
	background-color: white;
	height: 100%;
}

table.main_content th.main_title {
	color: white;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: xx-large;
}

table.main_content td.main_queues {
	width: 29%; 
	float: left;
}

table.main_content td.main_threat {
	width: 70%; 
	float: right;
}


/******************************************************************************/
/*                              Queues Styles                                 */
/******************************************************************************/

tr.queued_threat:hover {
	color: yellow;
}


/******************************************************************************/
/*                              Threat Styles                                 */
/******************************************************************************/

#threat_header {
	text-align: center;
	font-size: xxx-large;
	font-weight: bold;
}

#logo {
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
}

#threat_details {
	padding: 10px;
}

table.threat_details {
	
}

table.threat_details td.attr {
	width: 200px;
	text-align: right;
}

table.threat_details td.value {
	width: 300px;
	padding-left: 10px;
	text-align: left;
}


/******************************************************************************/
/*                           Interceptor Styles                               */
/******************************************************************************/

#interceptor_title {
	text-align: left;
	font-size: larger;
	font-weight: bold;
}

#interceptors {
	padding: 20px;
}

font.interceptor_hit {
	color: green;
}

font.interceptor_missed {
	color: red;
}


/******************************************************************************/
/*                             Time-Bar Styles                                */
/******************************************************************************/


#engaging_launchers_title {
	text-align: left;
	font-size: larger;
	font-weight: bold;
}

#available_launchers_title {
	text-align: left;
	font-size: larger;
	font-weight: bold;
}


#launcher_bid_seperator {
  height: 10px;
}

table.time_bar {
	height: 60px;
}

table.time_bar tr {
	outline: solid 2px
}

tr.tb_heading {
	font-size: medium;
	height: 10px;
}

.tb_highlighted_heading {
	font-size: large;
	color: yellow; 
}

tr.launcher_active {
	font-size: large;
    /*color: darkblue;*/
}

tr.launcher_inactive {
	font-size: large;
	/*color: darkgrey;*/
}

tr.launcher_engaging {
	font-size: large;
	color: darkorange;
}

td.pre_engageable,
td.earliest_flight,
td.engageable,
td.latest_flight,
td.unengageable,
td.impacted {
	background-repeat: repeat-x;
	text-align: center;
}

td.impacted {
	color: white;
}

td.tb_button {
	width: 100px;
	background-color: black;
	color: white;
}

td.pre_engageable {
	background-image: url('/images/time_bars/bar_white.png');
}

td.earliest_flight {
	background-image: url('/images/time_bars/bar_blue.png');
}

td.engageable {
	background-image: url('/images/time_bars/bar_green.png');
}

td.latest_flight {
	background-image: url('/images/time_bars/bar_orange.png');
}

td.unengageable {
	background-image: url('/images/time_bars/bar_red.png');
}

td.impacted {
	background-image: url('/images/time_bars/bar_black.png');
}

.cant_engage_font {
	font-size: x-small;
	font-weight: light;
}

/* not yet used */

td.border {border-top: solid 1px black; border-bottom: solid 1px black}

td.end_right {border-right: solid 1px black;}
td.end_left {border-left: solid 1px black;}
td.score {width: 50px; text-align: center}



/******************************************************************************/
/*                               Misc. Styles                                 */
/******************************************************************************/

table.standard {
	width: 100%;
	text-align: center;
}

table.standard th {
	background-color: black;
	color: white;
}

tr.odd-line {
	background-color: grey;
}

tr.even-line {
	background-color: lightgrey;
}
