<table class="existing_entries">
	<tr>
		<th>Defended Area</th>
		<% for header in @headers %>
			<th><%= header %></th>
		<% end %>
	</tr>
	
	<% @defended_area_threats_hash.each_pair do |da_name, threats| %> 
    	<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    		<td>DA<%=h da_name %></td>
			<% for threat in threats %>
	        	<td><%=h threat%></td>
		  	<% end %>
		
		</tr>
    <% end %>
	
	
	
</table>