<% quarter_width = 250.0 %>
<table style=' width: 100%; border-style: solid; border-width: 1px; border-color: black'>
    <tr>
        <td colspan="2">
            <div style="width: 100%; background-color: black; text-align: center; color: white">
                Scenario Summary
            </div>
        </td>
    </tr>
    <tr>
        <td>
            wait_then_remote_function_update(
            'fe_summary_stats_table', 
            'get_summary_stats', 
            (quarter_width * 2.5).to_s + 'px',
            '225px'
            )
        </td>
        <td>
            wait_then_remote_function_complete(
            'fe_threat_mix',
            'get_threat_mix',
            'aadse_flotr_update_pie("fe_threat_mix", request.responseText)',
            (quarter_width * 1.5).to_s + 'px',
            '225px'
            )
        </td>
    </tr>
</table>
<br/>
<table style=' width: 100%; border-style: solid; border-width: 1px; border-color: black'>
    <tr>
        <td colspan="4">
            <div style="width: 100%; background-color: black; text-align: center; color: white">
                Force Effectiveness
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            wait_then_remote_function_update(
            'fe_multi_box_query_table',
            'get_multi_box_query',
            (quarter_width * 4).to_s + 'px',
            '180px'
            )
        </td>
    </tr>
    <tr>
        <td id="fe_multi_box_stats" colspan="4" style="text-align: center">
            wait_then_remote_function_update(
            'fe_multi_box_stats_table',
            'get_multi_box_query_stats',
            (quarter_width * 4).to_s + 'px',
            '*'
            )
        </td>
    </tr>
    <tr>
        <td colspan="2">
            wait_then_remote_function_complete(
            'fe_eng_results',
            'get_eng_results',
            'aadse_flotr_update_pie("fe_eng_results", request.responseText)',
            (quarter_width * 2).to_s + 'px',
            '225px'
            )
        </td>
        <td colspan="2">
            wait_then_remote_function_complete(
            'fe_cost_of_rounds',
            'get_cost_of_rounds',
            'aadse_flotr_update_pie("fe_cost_of_rounds", request.responseText)',
            (quarter_width * 2).to_s + 'px',
            '225px'
            )
        </td>
    </tr>
</table>
