<% content_for :page_description do %>
This section provides the opportunity for you to establish the information for the launchers. You can
select the specific interceptor and the volume of interceptors that you want for this launcher in addition to the 
engagement doctrine for the particular launcher.
<br />
<br />
<a href="/documents/guide#Launchers" target= "_blank">Go to User Guide</a>
<br />
<%=link_to_remote("Launchers User Guide", :url=>{:controller => 'documents', :action=>'guide', :section_name=>'launchers'}, :update => "instructions")%>
<% end %>
